
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    height: 100vh;
    margin: auto;
    background-color: #F1F2EE;
    display: grid;
    grid-template: minmax(min-content, 10%) 1fr min-content / 1fr;
    row-gap: 40px;
    font-family: 'Roboto Mono', monospace;;
}


header > h1 {
    text-align: center;
    font-family: 'Silkscreen', cursive;
    font-size: 70px;
    color: #435058;
}

main {
    width: 80%;
    margin: auto;
}

.game-options {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
}

.game-options > legend {
    font-weight: 700;
}

.game-options .select-box {
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    margin: 20px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.game-options .name-box {
    display: flex;
    padding: 10px;
    font-weight: 700;
}

.name-box > input {
    border-radius: 15px;
    border: 1px solid black;
    width: 100%;
    font-size: 20px;
}

.game-options #player-two {
    display: none;
}

#button-play-game {
    display: block;
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
    background-color: #bfb7b6;
    padding: 10px 0px;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
}

#button-play-game:hover {
    background-color: #F1F2EE;
    border: solid 1px #435058;
}
